
  
.register-form{
    text-align: center;
    border: 1px solid grey;
    box-shadow: 1px 1px #1e2020;
    background-color: white;
    width: 30rem;
    margin: auto;
    margin-top: 15rem;
    padding: 1rem;
    height: 450px;
    border-radius: 1rem;
}

.message {
    color: red;
}

.reg-input{
    border-radius: 0.5rem;
    width: 20rem;
    margin:0.7rem;
    padding: 0.7rem;
    border: 1px solid grey;
}

.reg-button{
    width:20rem;
    margin:1rem;
    border-radius: 1rem;
    padding: 0.4rem;
    background-color:blue;
    border:0px;
    height:40px;
}

input{
    outline: none;
}

button:hover{
    cursor: pointer;
}

@media screen and (max-height: 700px) {
    .register-form {
        margin-top: 7rem;
    }
}

@media screen and (max-height: 550px) {
    .register-form {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 512px) {
    .register-form {
        width: 18rem;
    }
    .reg-input {
        width: 12rem;
    }
}